
@font-face {
    font-family: 'Agency FB Bold';
    src: url(../fonts/Agency\ FB.ttf);
}
.html{
    font-family: 'Agency FB Bold';
}
.header{
    display: block;
    width: 1628px;
    height: 216px;
    left: 5.5%;
    top: 0%;
}
.info{
    width: 1628px;
    height: 78px;
    left: 5.5%;
    top: 0%;
    position: fixed;
    background: #2B2024;
    mix-blend-mode: normal;
    opacity: 0.7;
    z-index: 5;
}
#contacts{
    list-style-type: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 9%;
}

#contacts li{
    display: inline-block;
    margin: 0 30px 0;
}
#contacts p{
    float: right;
    margin-top: 0;
    margin-left: 6px;
    font-size: 24px;
    color: white;
}
#sociallinks{
    list-style-type: none;
    margin-left: 75%;
    margin-top: 15px;
}
#sociallinks li{
    display: inline-block;
    margin: 0 7px 0;
}
.top-bar{
    position: fixed;
    width: 1628px;
    height: 138px;
    margin-top: 78px;
    margin-left: 5.5%;
    z-index: 5;
}
#rectangle1{ 
    position: absolute;
    width: 156px;
    height: 138px;
    background-color: #FD0054;
}
#menu img{
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}
#menu span{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    margin-top: 82px;
    margin-left: 30px;
}
#rectangle2{
    position: absolute;
    width: 1126px;
    height: 138px;
    left: 155px;
    background-color: #2B2024;
}
#rectangle3{
    list-style-type: none;
    margin-top: 56px;
    margin-left: 150px;
}
#rectangle3 li{
    display: inline-block;
    margin: 0 30px 0;
    font-size: 1.2rem;
    letter-spacing: -1px;
}
#rectangle3 li a{
    text-decoration: none;
    color: white;
}
#rectangle4{
    width: 347px;
    height: 138px;
    background-color: #FD0054;
    position: absolute;
    left: 1281px;
}
#rectangle4 a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: -1px;
}
#what{
    margin: 56px 40px;
}
.arrow1{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0.25;
}
.arrow2{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0.5;
}
.arrow3{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0.75;
}
.arrow4{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#background1{
    width: 1920px;
    height: 1081px;
    background-color: #FD0054;
    position: absolute;
    z-index: 1;
}
#background2{
    width: 1920px;
    height: 1081px;
    background-color: #2B2024;
    opacity: 0.5;
    z-index: 2;
    position: absolute;

}
#rectangle5{
    box-sizing: border-box;
    position: absolute;
    width: 475px;
    height: 503px;
    left: 722px;
    top: 398px;
    border: 10px solid #FD0054;
    transition: all 0.3s ease;
    z-index: 3;
}
#rectangle5:hover{
    box-shadow: inset 0px 0 0 10px #FD0054;
}
#make{
    list-style-type: none;
    color: white;
    font-size: 2rem;
    margin: 75px 27%;
    position: absolute;
    opacity: 0.8;
}
#body1{
    list-style-type: none;
    color: white;
    font-size: 8rem;
    letter-spacing: -7px;
    margin: 200px 13%;
    position: absolute;
    z-index: 3;
}
#rectangle5 img{
    margin-top: 315px;
    margin-left: 33%;
}
#bmi{
    width: 1640px;
    height: 327px;
    position: absolute;
    top: 1000px;
    left: 5.5%;
    background-color: white;
    z-index: 3;
}
#rectangle6{
    width: 1640px;
    height: 239px;
    position: absolute;
    background-color: black;
}
#rectangle6 h1{
    color: white;
    position: absolute;
    left: 5.91%;
    top: 28%;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
}
#rectangle6 h2{
    position: absolute;
    height: 29px;
    left: 19%;
    top: 56%;
    font-size: 1rem;
    font-weight: 700;
    color: #FD0054;
}
#rectangle6:before{
    position: absolute;
    width: 41.84px;
    height: 0px;
    left: 19%;
    top: 155px;
    border: 1px solid #FD0054;
    content: ".";
}
.bmiform {
    display: inline-block;
    margin-top: 50px;
    margin-left: 547px;
}
.bmicategories{
    margin-top: 14px;
}
.input {
    width: 200px;
    height: 52px;
    background-color: #564b4f;
    font-weight: 700;
    outline: none;
    margin-right: 20px;
    border: none;
    font-size: 1.5rem;
}
.bmitext {
    margin-top: 17px;
}
.bmiradio{
    color: white;
}
.bmitextheight {
    margin-left: 0px;
    color: white;
    font-size: 1.5rem;
}
.bmitextweight {
    color: white;
    margin-left: 454px;
    font-size: 1.5rem;
    margin-top: -17px;
}
.bmibutton {
    position: relative;
    left: 885px;
    bottom: 113px;
}
.submit {
    width: 209px;
    height: 52px;
    background-color: #FD0054;
    font-size: 24px;
    color: #fafafa;
    font-weight: 700;
}
#ellipse1{
    position: absolute;
    height: 35px;
    left: 92px;
    right: 138px;
    top: 292px;
    background-color: rgb(168, 167, 167);
    border-radius: 50%;
}
#classes{
    position: absolute;
    width: 1525.5px;
    height: 753px;
    left: 200px;
    top: 1636px;
}
#ourclasses{
    position: absolute;
    height: 29px;
    left: 40%;
    top: -80px;
    font-size: 2rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
#ourclasses:before{
    position: absolute;
    width: 41.84px;
    height: 0px;
    left: -65px;
    top: 10px;
    border: 1px solid #FD0054;
    content: "";
}
#rectangle7{
    position: absolute;
    left: 29%;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 72px;
    text-align: center;
    letter-spacing: -1px;
}
#myclasses{
    position: relative;
    top: 32%;
}
#class1,
#class2,
#class3,
#class4{
    position: absolute;
    width: 340px;
    height: 444px;
    border: 1px solid #DEDEDE;
    transition: all 0.3s ease-out;
}
#class1:hover,
#class2:hover,
#class3:hover,
#class4:hover{
    box-shadow: inset 0px 0 0 4px #DEDEDE;
}
#myclasses li{
    margin-right: 370px;
    display: inline-block;
}
#class1:before,
#class2:before,
#class3:before,
#class4:before{
    position: absolute;
    width: 257px;
    height: 0;
    top: 320px;
    left: 42px;
    border: 1px solid #DEDEDE;
    content: "";
}
#myclasses img{
    position: absolute;
    margin-top: 45px;
    margin-left: 38px;
}
#myclasses h3{
    position: absolute;
    margin-top: 225px;
    margin-left: 38px;
    color: #868686;
}
#myclasses h1{
    font-size: 2rem;
    position: absolute;
    margin-left: 38px;
    letter-spacing: -1px;
    margin-top: 256px;
}
#myclasses a b{
    list-style-type: none;
    position: absolute;
    margin-top: 369px;
    margin-left: 38px;
    color: black;
}
#myclasses a img{
    margin-left: 258px;
    margin-top: 362px;
    height: 25px;
    width: 40px;
}
#aboutus{
    width: 1920px;
    height: 770px;
    position: relative;
    top: 2503px;
}
#rectangle8{
    position: absolute;
    width: 895px;
    height: 682px;
    top: 44px;
    background-color: black;
}
#about-us{
    position: absolute;
    height: 29px;
    left: 201px ;
    top: 87px;
    font-size: 2rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
#about-us:before{
    position: absolute;
    width: 41.84px;
    height: 0px;
    left: -65px;
    top: 10px;
    border: 1px solid #FD0054;
    content: "";
}
#nulla{
    position: absolute;
    left: 140px;
    top: 164px;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 72px;
    text-align: left;
    letter-spacing: -1px;
    color: white;
}
#nulla:before{
    position: absolute;
    width: 94px;
    height: 0px;
    left: 385px;
    top: 100px;
    border: 1px solid #FD0054;
    content: "";
}
#lorem{
    position: absolute;
    top: 322px;
    left: 140px;
    font-size: 1.3rem;
    color: #868686;
}
#us1,
#us2{
    width: 293px;
    height: 163px;
    background-color: black;
    position: absolute;
}
#about_us{
    margin-top: 432px;
    margin-left: 140px;
    position: absolute;
}
#about_us li{
    display: inline-block;
    margin-right: 313px;
}
#about_us li img{
    width: 40px;
    height: 49.26px;
}
#about_us li h3{
    position: absolute;
    top: 0px;
    left: 81px;
    color: white;
}
#about_us li h1{
    font-size: 1.7rem;
    position: absolute;
    left: 81px;
    letter-spacing: -1px;
    top: 25px;
    color: white;
}
#us1:before,
#us2:before{
    position: absolute;
    width: 293px;
    height: 0px;
    left: 0px;
    top: 88px;
    border: 1px solid #FD0054;
    content: "";
}
#about_us li h2{
    position: absolute;
    top: 113px;
    left: 0px;
    font-size: 1.3rem;
    color: #868686;
    line-height: 24px;
}
#item1,
#item2{
    width: 55px;
    height: 59px;
    position: absolute;
    background-color: #FD0054;
    top: 113px;
    left: 238px;
    color: white;
    line-height: 20px;
    transition: all 0.3s ease;
}
#item1:hover,
#item2:hover{
    box-shadow: inset 0px 0 0 2px black;
}
#about_us li p{
    margin-top: 11px;
    margin-left: 5px;
}
#square{
    position: absolute;
    width: 592px;
    height: 770px;
    background-color: #e40041;
    left: 968px;
    z-index: 1;
}
#square1{
    position: absolute;
    width: 554px;
    height: 235px;
    left: 1200px;
    top: 425px;
    background-color: #FD0054;
    z-index: 2;
    transition-duration: 0.7s;
}
#square1:hover{
    transform: translateX(40px);
    background-color: rgb(255, 6, 110);

}
#square1 h1{
    font-size: 2rem;
    position: absolute;
    color: white;
    left: 65px;
    top: 42px;
    line-height: 50px;
}
#square1 a b{
    list-style-type: none;
    position: absolute;
    margin-top: 178px;
    margin-left: 65px;
    color: black;
    font-size: 1.5rem;
}
#square1 img{
    margin-left: 250px;
    margin-top: 178px;
    height: 25px;
    width: 40px;
}
#timetable{ 
    position: absolute;
    width: 1640px;
    height: 945px;
    top: 3387px;
    left: 5.5%;
    background-color: white;
}
#timetable h3{
    position: absolute;
    height: 29px;
    left: 40%;
    font-size: 2rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
#timetable h3:before{
    position: absolute;
    width: 41.84px;
    height: 0px;
    left: -65px;
    top: 10px;
    border: 1px solid #FD0054;
    content: "";
}
#timetable h1{
    position: absolute;
    left: 21.5%;
    top: 77px;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 72px;
    letter-spacing: -1px;
}
#table{
    margin-top: 240px;
    text-align: center;
}
#table th{
    background-color: #E2E2E2;
    border: 1px solid rgb(212, 212, 212);
    height: 117.5px;
    width: 205px;
    text-align: center;
    padding-top: 45px;
    font-weight: 700;
    font-size: 24px;
}
#table tr{
    height: 117.5px;
    width: 205px;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
}
#table td{
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    padding-top: 30px;
    line-height: 30px;
}
#table h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
.time{
    font-weight: 700;
    font-size: 1.5rem;
}
#rectangle10{
    width: 1640px;
    height: 399px;
    top: 75px;
    background-color: black;
    position: relative;
}
#testimonal{
    position: absolute;
    height: 29px;
    left: 183px;
    top: 59px;
    font-size: 2rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
#testimonal:before{
    position: absolute;
    width: 41.84px;
    height: 0px;
    left: -65px;
    top: 10px;
    border: 1px solid #FD0054;
    content: "";
}
#square3{
    position: absolute;
    width: 91px;
    height: 91px;
    background-color: #FD0054;
    top: 54px;
    left: 481px;
}
#alex{
    position: absolute;
    height: 29px;
    left: 600px;
    top: 59px;
    font-size: 2rem;
    font-weight: 700;
    color: #FD0054;
    letter-spacing: -1px;
}
#stars{
    margin-top: 107px;
    margin-left: 600px;
}
#rectangle11{
    font-size: 2.7rem;
    position: absolute;
    color: white;
    left: 122px;
    top: 137px;
    line-height: 50px;
    letter-spacing: -1px;
}
#symbols{
    margin-top: 11px;
    margin-left: 1114px;
}
#rectangle12{
    position: absolute;
    top: 215px;
    left: 481px;
    font-size: 1.3rem;
    color: #868686;
}
#rectangle13{
    position: absolute;
    height: 29px;
    left: 1462px;
    top: 257px;
    font-size: 1.3rem;
    color: #FD0054;
    letter-spacing: -1px;
}
#path34{
    margin-top: 95px;
    margin-left: 1426px;
}
#path33{
    margin-top: -20px;
    margin-left: 1480px;
}































