@import "modules/_const.scss";
.statistics-card {
    display: flex;
    &__icon {
        width: 60px;
        height: 60px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 36px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    &__title {
        @include fz(28px, 700);
    }
    &__subtitle {
        margin-top: 10px;
        @include subtitle;
    }
}