
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;700&display=swap');
* {

    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 300px;
    background-color: black;
}
.container{
    margin: 0 auto;
    width: 1110px;
}
.container-1{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
}
.menu{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
    font-size: 1.5rem;
}
.menu li a{
    text-decoration: none;
    color: gray;
}
.links{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links li{
    display: inline-block;
}
.back{
    background-color: #D49090;
    height: 600px;
}
.container-2{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 40px;
}
.h2{
    color: white;
    font-size: 1.7rem;
    font-weight: 10;
    margin-bottom: 40px;
}
button{
    border: 1px solid white;
    color: white;
    background-color: #D49090;
    padding: 10px 40px;
}
#img1{
    width: 400px;
}
.distributors img{
    width: 100%;
}
.categories{
    margin-top: 40px;
    height: 630px;
}
.h3{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h4{
    font-size: 1.3rem;
    font-weight: 10;
    margin-bottom: 20px;
    line-height: 25px;
}
.container-3{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.firsttypeimg{
    width: 740px;
}
.firsttypeimg img{
    width: 100%;
}
.secondtypeimg{
    width: 365px;
}
.secondtypeimg img{
    width: 100%;
}
.popular{
    margin-top: 40px;
    height: 780px;
}
.products{
    display: block;
    float: right;
    margin-top: -20px;
}
.popularproducts{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.popularproducts li a{
    text-decoration: none;
    color: gray;
}
.container-4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.imgsmall{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img1{
    width: 267px;

}
.img1 img{
    width: 100%;
}
.img2{
    order: 2;
    width: 278px;
}
.img2 img{
    width: 100%;
}
.aboutmiralou{
    margin-top: 60px;
    width: 100%;
    height: 500px;
    background-color: #fef0e0;
    display: flex;
    justify-content: center;

}
.img3 img{
    height: 100%;
}
.container-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 700px;
    margin-left: 150px;
}
.learnmore{
    margin-top: 40px;
}
.ref{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}
.latestnews{
    margin-top: 60px;
    height: 717px;
}
.pages{
    float: right;
    margin-top: -40px;
}
.pagesli{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.pagesli a{
    font-size: 40px;
    color: gray;
}
.container-6{
    margin-top: 50px;
}
.parts{
    display: flex;
    justify-content: space-between;
}
.parts img{
    width: 350px;
}
.parts li{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h5{
    font-size: 1.3rem;
}
.jennywilson{
    height: 380px;
    width: 100%;
    background-color: #fef0e0;
    margin-top: 60px;
}
.container-7{
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jennywilson a{
    font-size: 40px;
    color: gray;
}
.followus{
    margin-top: 60px;
    height: 472px;
    width: 100%;
}
.followus a{
    text-decoration: none;
    color: gray;
    font-size: 1.3rem;
}
.container-8{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.container-9{
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.container-8 img{
    width: 265px;
}
.subscribe{
    height: 378px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.subscribe img{
    margin-top: -13px;
    height: 383px;
}
.container-10{
    display: flex;
    height: 370px;
    background-color: #D49090;
}
.form-email {
    background-color: #D49090;
    border: 1px solid #fff;
    padding: 9px 14px;
    margin-right: 10px;
}
::-webkit-input-placeholder {
    color: #fff;
    font-size: 12px;
}
.form-button {
    background-color: #D49090;
    border: 1px solid #fff;
    color: #fff;
    padding: 11px 14px;
    font-size: 12px;
}
.container-11{
    display: flex;
    flex-direction: column;
    justify-content: center
}
footer{
    height: 350px;
    width: 100%;
    display: flex;
}
.last{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}
.last b{
    color: white;
    font-size: 1.5rem;
}
.last p{
    color: white;
}
.foot{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sociallinks{
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.foot1 a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
.last:before{
    position: absolute;
    width: 1110px;
    height: 1px;
    margin-top: 250px;
    border: 1px solid gray;
    content: "";
}
.p0{
    margin-top: -10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
