@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html{
    font-family: 'Lato';
    background-color: whitesmoke;
}

.header{
    width: 1200px;
    height: 900px;
    background-color: white;
    position: relative;
    margin: 20px auto 0px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
}
#lap{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(206, 23, 23);
    display: block;
    margin: 225px 375px;
    z-index: 1;
}
.header h1{
    position: absolute;
    font-size: 5.5rem;
    margin: 275px 100px 375px;
    z-index: 3;
    line-height: 60px;
            
}
.header #background{
    width: 600px;
    height: 950px;
    position: relative;
    display: block;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(Opacity=25);
    opacity: 0.25;
}
.header #namejp{
    margin: 40px 95px auto;
    position: absolute;
    display: block;
    font-size: 2rem;
}
.header #nameru{
    margin: 80px 100px auto;
    position: absolute;
    display: block;
}
.header #vertical{
    font-size: 7rem;
    margin: 30px 511px;
    position: absolute;
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 3;
    letter-spacing: 1.5rem;
    
}
.header #verticala{
    font-size: 7rem;
    margin: 575px 511px 30px;
    position: absolute;
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 3;
    letter-spacing: 1.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.header #horisontal{

    font-size: 4rem;
    margin: 430px 1px 500px 550px;
    position: absolute;
    display: block;
    z-index: 3;
}
.header #article{

    font-size: 1.2rem;
    margin: 550px 1px 500px 675px;
    position: absolute;
    display: block;
    z-index: 3;
}
#social-links{
    position: absolute;
    bottom: 100px;
    left: -30px;
    transform: rotate(-90deg);
    z-index: 3;
}
#menu{
    position: absolute;
    top: 270px;
    right: -115px;
    transform: rotate(-90deg);
}
#social-links ul,
#menu ul{
    width: 100%;

}
#social-links ul li,
#menu ul li{
    float: left;
    margin-left: 30px;
    list-style-type: none

}
#social-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
#menu ul li a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.circle{
    width: 1200px;
    height: 900px;
    background-color: white;
    position: relative;
    margin: -25px auto;
    overflow: hidden;
}
.circle h1{ 
    position: absolute;
    margin: 150px 95px auto;
    font-size: 3rem;
    line-height: 45px;
    z-index: 2;
}
.circle #title{
    position: absolute;
    margin-top: 175px;
    margin-left: 650px; 
    font-size: 5rem;
    letter-spacing: 1.3rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 2;
}
.circle #red{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(206, 23, 23);
    display: block;
    margin-top: 700px;
    margin-left: -40px;
    z-index: 1;
    box-shadow: 0px 0px 40px 40px rgb(206, 23, 23);
}
.list {
    display: inline-block;
    font-size: 17px;
    list-style: none;
    counter-reset: item;
    z-index: 2;
    margin-top: 375px;
    margin-left: 100px;
}
.list li {
    float: left;
    padding-left: 65px;
    padding-top: 75px;
    position: relative;
    z-index: 2;
    line-height: 23px;
}
.list li::before {
    content: "0" counter(item) ".";
    counter-increment: item;
    position:absolute;
    top:20px;
    font-size:2.5rem;
    font-weight:bold;
}
.article{
    width: 1200px;
    height: 800px;
    background-color: white;
    position: relative;
    margin: 25px auto 0px;
    overflow: hidden;
}
.article #background{
    width: 1200px;
    height: 800px;
    position: relative;
    display: block;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(Opacity=10);
    opacity: 0.1;
    z-index: 1;
}
.article #none{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 125px;
    padding-left: 120px; 
    z-index: 2;
}
.article #rep{
    position: absolute;
    font-size: 1rem;
    padding-top: 230px;
    padding-left: 200px;
    z-index: 2;
    line-height: 25px;
}
.article #img1{
    position: absolute;
    padding-top: 350px;
    padding-left: 200px;  
    z-index: 2;
}
.article #img2{
    position: absolute;
    padding-top: 350px;
    padding-left: 600px;  
    z-index: 2;
}
.article #book1 {
    margin-top: 605px;
    margin-left: 200px;
    display: inline-block;
    transform-origin: bottom right;
    transform: rotate(90deg);
    position: absolute;
    margin-bottom: 200px;
    z-index: 3;
    font-weight: bold;
    line-height: 25px;
}
.article #book2 {
    margin-top: 605px;
    margin-left: 600px;
    display: inline-block;
    transform-origin: bottom right;
    transform: rotate(90deg);
    position: absolute;
    z-index: 3;
    font-weight: bold;
    line-height: 25px;
}
.article2{
    width: 1200px;
    height: 1000px;
    background-color: white;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}
.article2 #none{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 125px;
    padding-left: 120px; 
    line-height: 50px;
}
.article2 #japan{
    position: absolute;
    margin-top: 125px;
    margin-left: 675px;
}
.article2 #lap1{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(206, 23, 23);
    display: block;
    margin: 275px 200px;
    z-index: 1;
}
.article2 #lap2{
    width: 375px;
    height: 375px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(250, 24, 24);
    display: block;
    margin: 590px 250px;
    z-index: 1;
}
.article2 #four,
.article2 #eight{
    position: absolute;
    color: white;
    z-index: 2;
    font-weight: bold;
    font-size: 2.7rem;
}
.article2 #four{
    margin-top: 340px;
    margin-left: 255px;
}
.article2 #eight{
    margin-top: 700px;
    margin-left: 340px;
}
.article2 #one,
.article2 #two{
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 1rem;
    text-align: center;
}
.article2 #one{
    margin-top: 410px;
    margin-left: 275px;
}
.article2 #two{
    margin-top: 770px;
    margin-left: 340px;
}
.article2 #first,
.article2 #second{
    position: absolute;
    color: white;
    z-index: 2;
    font-weight: bold;
    font-size: 1.5rem;
}
.arrow-3 {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 18px;
    line-height: 18px; 
    display: inline-block; 
    margin: 20px;
}
.arrow-3 .arrow-3-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.arrow-3 .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow-3:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}
.arrow-3:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;
}
.article2 #first{
    margin-top: 470px;
    margin-left: 255px;
    z-index: 2;
}
.article2 #second{
    margin-top: 830px;
    margin-left: 340px;
    z-index: 2;
}
.prices{
    width: 1200px;
    height: 900px;
    background-color: white;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}
.prices #lessons{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 125px;
    padding-left: 120px; 
    line-height: 50px;
}
.prices #background1,
.prices #background2,
.prices #background3{
    width: 400px;
    height: 225px;
    position: absolute;
    filter: alpha(Opacity=10);
    opacity: 0.1;
    z-index: 1;
}
.prices #background1{
    margin-top: 300px;
    margin-left: 200px;
}
.prices #background2{
    margin-top: 300px;
    margin-left: 650px;
}
.prices #background3{
    margin-top: 560px;
    margin-left: 200px;
}
.prices #onelesson,
.prices #fourlessons,
.prices #eightlessons,
.prices #variable{
    position: absolute;
    color: black;
    z-index: 2;
    font-weight: bold;
    font-size: 2.5rem;
}
.prices #onelesson{
    margin-top: 335px;
    margin-left: 240px; 
}
.prices #eightlessons{
    margin-top: 335px;
    margin-left: 690px;
}
.prices #fourlessons{
    margin-top: 595px;
    margin-left: 240px;
}
.prices #variable{
    margin-top: 595px;
    margin-left: 690px;
}
.prices #price1,
.prices #price2,
.prices #price3{
    position: absolute;
    color: black;
    z-index: 2;
    font-weight: bold;
    font-size: 1rem;
}
.prices #price1{
    margin-top: 400px;
    margin-left: 240px;
}
.prices #price3{
    margin-top: 400px;
    margin-left: 690px;
}
.prices #price2{
    margin-top: 660px;
    margin-left: 240px;
}
.prices #text{
    position: absolute;
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 660px;
    margin-left: 690px;
    line-height: 25px;
}
.prices #time1,
.prices #time2,
.prices #time3{
    position: absolute;
    color: black;
    z-index: 2;
    font-size: 1rem;
}
.prices #time1{
    margin-top: 420px;
    margin-left: 240px;
}
.prices #time3{
    margin-top: 420px;
    margin-left: 690px;
}
.prices #time2{
    margin-top: 680px;
    margin-left: 240px;
}
.prices #first,
.prices #second,
.prices #third,
.prices #forth{
    position: absolute;
    color: black;
    z-index: 2;
    font-weight: bold;
    font-size: 1.3rem;
}
.prices #first{
    margin-top: 450px;
    margin-left: 240px;
}
.prices #second{
    margin-top: 450px;
    margin-left: 690px;
}
.prices #third{
    margin-top: 730px;
    margin-left: 240px;
}
.prices #forth{
    margin-top: 730px;
    margin-left: 690px;
}







 



