@font-face {
    font-family: 'Agency FB Bold';
    src: url(../fonts/Agency\ FB.ttf);
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Agency FB Bold';
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
.header {
    position: relative;
}
.container {
    margin: 0 151px;
}
.header__contacts {
    background-color: #51092a;
    height: 78px;
}
.contact-us {
    padding: 29px 0 20px 208px;
    float: left;
}
.contacts:after {
    content: "";
    display: block;
    clear: both;
}
.contact-us__item {
    float: left;
    padding-right: 98px;
    position: relative;
}
.change-color {
    color: #FAFAFA80;
}
.link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.contact-us__item--geo::before {
    content: "";
    background-image: url(../icon/icon-location.png);
    width: 23.5px;
    height: 23.5px;
    position: absolute;
    left: -30px;
}
.contact-us__item--phone::before {
    content: "";
    background-image: url(../icon/icon-phone.png);
    width: 20.5px;
    height: 20.5px;
    position: absolute;
    left: -30px;
}
.contact-us__item--envelope::before {
    content: "";
    background-image: url(../icon/icon-mail.png);
    width: 25px;
    height: 18px;
    position: absolute;
    left: -30px;
}
.contact-us-social {
    float: right;
}
.contact-us-social__links {
    margin: 26px 0;
    margin-right: 134px;
}
.contact-us-social__link {
    float: left;
    padding-right: 25px;
}
/*header top */
.header__menu {
    height: 138px;
}
.header__menu::after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    background-color: #FD0054;
    float: left;
    height: 138px;
    width: 156px;
    text-align: center;
}
.logo__icon {
    display: inline-block;
    width: 50px;
    height: 28.5px;
    margin-top: 26.5px;
}
.logo__text {
    text-align: center;
}   
.nav {
    float: left;
    background-color: #2B2024;
    height: 138px;

}
.nav__items {
    display: inline-block;
    margin: 57px 104px 52px 162px;
}
.nav__item {
    display: inline-block;
    padding-right: 78px;
}
.button {
    background-color: #FD0054;
    height: 138px;
}
.button::after {
    content: "";
    display: block;
    clear: both;
}
.button__text {
    float: left;
    margin: 59px 29px 50px 5px;
}
.button__animation {
    float: left;
}
.button__elements {
    margin-top: 54px;
}
.button__element {
    display: inline-block;
    animation-name: change-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 30px;
}
.button__element1 {
    color: #ff0078;
}
.button__element2 {
    color: #ff59a4;
}
.button__element3 {
    color: #ffaed0;
}
.button__element4 {
    color: #fafafa;
}
@keyframes change-color {
    to {
        color: #2B2024;
    }
}
/*header bottom*/
.bg-top  {
    width: 100%;
    height: 1081px;
    background-color: #a10037;
    margin-top: -216px;
    text-align: center;
    padding-top: calc(182px + 216px);
}
.frame {
    width: 475px;
    height: 500px;
    border: 10px solid #FD0054;
    display: inline-block;
}
.frame__inner-wrap {
    text-align: center;
    margin-top: 71px;
}
.frame__title {
    font-size: 50px;
}
.frame__subtitle {
    font-size: 200px;
}
.calc-bmi {
    width: 1640px;
    height: 327px;
    margin: -90px auto 0;
}
.calc-bmi__top {
    height: 239px;
    background-color: #2B2024;
}
.calc-bmi__text {
    font-size: 48px;
    float: left;
    margin-right: 70px;
    margin-top: 55px;
    margin-left: 97px;
}
.calc-bmi__text--color {
    font-size: 24px;
    color: #FD0054;
}
.calc-form {
    display: inline-block;
    margin-top: 50px;
}
.calc__entry-field {
    margin-top: 14px;
}
.input {
    width: 200px;
    height: 52px;
    background-color: #564b4f;
    font-weight: 700;
    outline: none;
    margin-right: 20px;
    border: none;
}
.calc__text {
    margin-top: 17px;
}
.calc__text::after {
    content: "";
    display: block;
    clear: both;
}
.calc__text-height {
    float: left;
}
.calc__text-weight {
    float: right;
    margin-right: 165px;
}
.calc-form__button {
    float:right;
    position: relative;
    left: 465px;
    bottom: 95px;
}
.calc-form__btn {
    width: 209px;
    height: 52px;
    background-color: #FD0054;
    font-size: 24px;
    color: #fafafa;
    font-weight: 700;
}
.calc-bmi__bottom {
    padding-top: 53px;
}
.calc-bmi__circle {
    height: calc(327px - 239px);
    border-radius: 200%;
    background-color: pink;
}
/*Calculate form*/
.our-classes {
    width: 1525.5px;
    margin: 0 auto;
    text-align: center;
}
.our-classes__subtitle {
    margin-top: 114px;
    margin-bottom: 60px;
}
.our-classes__line {
    display: inline-block;
    width: 45px;
    height: 0;
    border: 1px solid #FD0054;
    margin-bottom: 1px;
    position: relative;
    bottom: 10px;

}
.our-classes__text {
    color: #FD0054;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}
.our-classes__title {
    color: #2B2024;
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 15px;
}
/*Our classes title*/
.our-classes__cards {
    width: 100%;
}
.card {
    width: 340px;
    height: 444px;
    border: 5px solid #e5e4e5;
    text-align: left;
    font-weight: 700;
    display: inline-block;  /* Если card блок как мне выровнять его по макету? и как убрать margin у последнего блока?*/
}
.card__inner {
    margin: 45px 40.86px 51px 42px;
}
.card__img {
    width: 57.5px;
    height: 70.5px;
    margin-bottom: 109.38px;
}
.card__subtitle {
    color: rgba(43, 32, 36, 0.501961);
    font-size: 20px;
    margin-bottom: 7px;
}
.card__title {
    color: #2B2024;
    font-size: 32px;
    margin-bottom: 26.04px;
}
.card__line {
    width: 100%;
    border: 1px solid #DEDEDE;
    margin-bottom: 48.96px;
}
.card__info-text {
    font-size: 20px;
    float: left;
}
.card__link {
    text-decoration: none;
    color: #2B2024;
    font-weight: 700;
}
.card__info-icon {
    float: right;
}
/*Our classes Cards*/
.about-us {
    width: 100%;
    margin-top: 114px;
}
.about-us::after {
    content: "";
    display: block;
    clear: both;
}
.about-us__container {
    width: 50%;
    height: 770px;
    padding: 44px 73px 44px 0;
    float: left;
}
.about-us__left {
    width: 100%;
    height: 100%;
    background-color: #2B2024;
    padding: 83px 110px 78px 140px;
}
.category {
    display: inline-block;
}
.category__line {
    width: 45px;
    height: 10px;
    border-top: 2px solid #FD0054;
    display: inline-block;
    margin-right: 16.57px;
}
.category__text {
    font-size: 32px;
    color: #FD0054;
    float: right;
    font-weight: 700;
}
.title {
    font-size: 60px;
    color: #FAFAFA;
    font-weight: 700;
}
.about-us__line {
    width: 94.2px;
    height: 10px;
    border-top: 2px solid #FD0054;
    float: right;
    margin-right: 100px;

}
.subtitle {
    font-size: 24px;
    color: #FAFAFA80;
    font-weight: 400;
}
.about-us__margin {
    margin-bottom: 39px;
}
.about-us__margin2 {
    margin-bottom: 14px;
}
.about-us__margin3 {
    margin-bottom: 64px;
}
.about-us__cards {
    width: 100%;
}
.card-black {
    width: 45%;
    float: left;
}
.card-black__icon {
    width: 40px;
    height: 50px;
}
.card-black__text {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin-left: 31px;
    margin-bottom: 19px;
}
.card-black__gym {
    font-size: 20px;
    font-weight: 700;
}
.card-black__line {
    width: 100%;
    border: 1px solid #FD0054;
    margin-bottom: 25px;
}
.card-black__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #FAFAFA80;
    display: inline-block;
}
.card-black__link {
    float: right;
}
.card-black__icon-read {
    width: 55px;
    height: 59px;
}
.about-us_card-right {
    float: right;
}
/*about us left section */
.about-us__right {
    width: 50%;
    height: 767px; /* не смог задать в процентах */
    float: right;
    position: relative;
}
.about-us__bg {
    width: 70%;
    height: 100%;
    background-color: #e40041;
}
.card-right {
    width: 554px;
    height: 225px;
    background-color: #FD0054;
    position: absolute;
    bottom: 110px;
    right: 0;
    padding-top: 42px;
    padding-left: 65px;
}
.card-right__text {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 22px;
}
.card-right__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #2B2024;
    margin-right: 24.5px;
}
/*about us right section*/
.time-table__container {
    width: 1640px;
    margin: 114px auto 0;
    text-align: center;
}
.time-table__title {
    color: #2B2024;
    margin-top: 39px;
    margin-bottom: 90px;
}
.table {
    width: 1640px;
    height: 705px;
    border: 1px solid black;
    color: #2B2024;
}
.table__head {
    border: 1px solid black;
    padding: 45px;
}
.table th {
    border: 1px solid #E2E2E2;
    padding: 45px;
    background-color: #F3F1F1;
}
.table__time {
    color: #909090;
    font-weight: 400;
}
.table td {
    border: 1px solid #E2E2E2;
    text-align: center;
    vertical-align: middle;
}
.table-text__title {
    color: #FD0054;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.table-text__name {
    font-size: 20px;
    font-weight: 400;
}
/*table-time section*/
.testimonial__container {
    width: 1640px;
    margin: 114px auto 0;
}
.testimonial__content {
    height: 400px;
    background-color: #2B2024;
    position: relative;
}
.testimonial__category {
    position:absolute;
    top: 59px;
    left: 122px;
}
.testimonial__title {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: 145px;
    left: 122px;
}
.testimonial__square {
    width: 91px;
    height: 91px;
    background-color: #FD0054;
    position: absolute;
    top: 54px;
    left: 481px;
}
.testimonial__name {
    font-size: 32px;
    position: absolute;
    top: 69px;
    left: 600px;
}
.testimonial__stars {
    color: #564b4f;
    position: absolute;
    top: 110px;
    left: 600px;
}
.testimonial__stars--red {
    color: #FD0054;
}
.testimonial__text {
    font-weight: 400;
    color: #FAFAFA80;
    position:absolute;
    top: 215px;
    left: 481px;
}
.testimonial__quotes {
    font-size: 300px;
    color: #423439;
    position: absolute;
    right: 540px;
    bottom: 175px;
}
.testimonial__number {
    font-size: 30px;
    color: #FD0054;
    position: absolute;
    bottom: 118px;
    right: 161.5px;
}
.testimonial__triangle-left {
    position: absolute;
    bottom: 94.61px;
    right: 179.04px;
}
.testimonial__triangle-right {
    position: absolute;
    bottom: 103.61px;
    right: 128.04px;
}
/*testimonial section*/
.price {
    width: 100%;
    height: 1026px;
    background-color: #AB0139;
    text-align: center;
    margin-top: 114px;
}
.price__title {
    font-size: 60px;
    margin-top: 234px;
    display: inline-block;
}
.price__cards {
    margin-top: 58px;
}
.price-card {
    width: 386px;
    height: 536px;
    display: inline-block;
    background-color: #2B2024;
}
.price-card__title {
    font-size: 32px;
    display: inline-block;
    margin-top: 51px;
}
.price-card__subtitle {
    font-size: 20px;
    color: #FAFAFA80;
    margin-top: 12px;
}
.price-card__cost {
    margin-top: 40px;
    margin-bottom: 40px;
}
.price-card__dollar {
    font-size: 70px;
    display: inline-block;
}
.func {
    font-size: 20px;
    position: relative;
    display: inline-block
}
.func::before {
    content: "";
    background-image: url(../icon/icon-done.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    position: absolute;
    left: -25px;
}
.price-card__link {
    display: inline-block;
    color: #fafafa;
    font-size: 20px;
    text-decoration: none;
    border: 5px solid #fafafa;
    padding: 21px 34px 13px;
}
.margin-for-func {
    margin-bottom: 5px;
}
.price-card__btn {
    margin-top: 55px;
}
.price-card--bg--red {
    background-color: #FD0054;
}
.indent {
    display: inline-block; /*пустой блок для отступа*/
    width: 55px;
}
/*price section*/
.coaches {
    text-align: center;
    margin-top: 114px;
}
.coaches__category {
    margin-bottom: 39px;
}
.coaches-title {
    color: #2B2024;
    margin-bottom: 23.5px;
}
.coaches__line {
    width: 85.5px;
    display: inline-block;
    border: 1px solid #FD0054;
    margin-bottom: 35.5px;
}
.coaches__subtitle {
    color: #909090;
}
.coaches__squares {
    margin-top: 156px;
    }
.colored-square {
    display: inline-block;
    text-align: left;
}
.colored-square__item {
    width: 351px;
    height: 625px;
    background-color: #ffa0c7;
    margin-bottom: 65px;
}
.colored-square__name {
    font-size: 32px;
    color: #2B2024;
    margin-bottom: 25px;
}
.colored-square__biography {
    font-weight: 400;
    color: #909090; 
}
.coaches__indent {
    width: 10px;
    display: inline-block;
}
.colored-square__item--color2 {
    background-color: #ff006e;
}
.colored-square__item--color3 {
    background-color: #ff0048;
}
.colored-square__item--color4 {
    background-color: #ff006e;
}
.colored-square__item--color5 {
    background-color: #ffa0c7;
}
/*Coaches section*/
.icons {
    text-align: center;
    margin-top: 114px;
}
.icons-elements {
    display: inline-block;
}
.icons-elements__element {
    text-align: center;
    float: left;
    margin-right: 128px;
}
.icons-elements__number {
    color: #2B2024;
    font-size: 80px;
}
.icons-elements__element4 {
    margin-right: 0;
}
/*icons section*/
.news {
    background-color: #F4F4F4;
}
.news__container { /* как лучше задавать размер контейнеру? паддинг или размер?*/
    padding: 135px 284px 141px;
}
.news__btn {
    float: right;
}
.news__link {
    text-decoration: none;
    font-size: 20px;
    color: #FD0054;
    padding: 21px 34px 13px 36px;
    border: 5px solid #FD0054;
}
.news__cards {
    margin-top: 88px;
}
.news-card {
    width: 414px;
    height: 575px;
    display: inline-block;
    margin-right: 6px;
}
.news-card__square {
    height: 50%;
    background-color: #FD0054;
}
.news-card__content {
    height: 50%;
    background-color: #fff;
    padding-left: 31px;
    padding-right: 31px;
}
.news-card__title {
    font-size: 32px;
    color: #2B2024;
    padding-top: 38px;
}
.news-card__text {
    font-size: 24px;
    font-weight: 400;
    color: #909090;
    margin-top: 17px;
}
.news-card__info {
    margin-top: 5px;
}
.news-card__time {
    font-size: 20px;
    font-weight: 400;
    color: #909090;
    float: left;
    margin-top: 40px;
}
.news-card__links {
    float: right;
}
.news-card__link {
    text-decoration: none;
    font-size: 20px;
    color: #FD0054;
}
.news-card__arrow {
    text-decoration: none;
    color: #FD0054;
    font-size: 60px;
}
.news-card--no-margin {
    margin-right: 0;
}
/*news & articles section*/
.footer {
    background-color: #2B2024;
}
.footer__container {
    padding: 120.72px 140px 62px;
}
.footer__info {
    display: inline-block;
    margin-right: 215.5px;
}
.footer__logo {
    font-size: 48px;
    color: #FD0054;
}
.footer__icon {
    width: 70px;
    height: 40px;
    margin-right: 24px;
}
.footer__text {
    font-size: 24px;
    font-weight: 400;
    color: #909090;
    margin-top: 37px;
}
.list {
    display: inline-block;
    margin-right: 230px;
}
.list__title {
    font-size: 32px;
    color: #FD0054;
    margin-bottom: 63px;
}
.list__item {
    margin-bottom: 23px;
}
.footer__form {
    display: inline-block;
}
.footer__email {
    width: 350px;
    height: 66px;
}