@mixin button {
    background-color: #54BD95;
    color: #F8F8FA;
}
$btn-hover: #4a856f;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    .logo {
        font-size: 50px;
        font-weight: 600;
        color: #54BD95;
    }
    &__burger {
        display: none;
    }
    .nav {
        margin-left: 240px;
        &__list {
            display: flex;
        }
        &__item {
            margin-right: 40px;
            }
        &__item--visited:visited {
                color: #000;
                font-size: 18px;
        }
    }
    .entry {
        display: flex;
        align-items: center;
        .btn-login {
            margin-right: 20px;
        }
        .btn-sign-up {
            @include button();
            padding: 10px;
            border-radius: 10px;
                &--color {
                    color: #F8F8FA;
            }
            &:hover {
                background-color: $btn-hover;
            }
        }
    }
}